body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A1929;
  color: rgb(140, 140, 140);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar > Link:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
  text-decoration: none;
}

#welcomeContainer{
  margin: 20px 40% 100% 40%;
}

#reservationsContainer{
  margin: 20px 40% 100% 40%;
}

#favoritesContainer{
  margin: 20px 40% 100% 40%;
}

.logoutButton{
  color:rgb(140, 140, 140);
}

.add-favorites-button{
  margin-top: 10px;
}